<br>
 <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">LogIn</h2>
      <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-8 mx-auto">
          	<form method="post" action="/users/login">  
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username" placeholder="Username" data-validation-required-message="Please enter your Username.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Password" data-validation-required-message="Please enter your Password.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <br>
                
                <button type="submit" class="btn btn-primary btn-xl">Proceed</button>
                  
          	</form> 
          </div>
        </div>
  </div>